@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import '~bulma/sass/utilities/_all';

$primary: #35b5f6;
$primary-invert: findColorInvert($primary);

$colors: (
  'primary': (
    $primary,
    $primary-invert
  )
);
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-visited: $primary;

@import '~bulma';
@import '~buefy/src/scss/buefy';
